<div class="results">

<% if (data) { %>
<% data.forEach(d => { %>
<% let cal = d.recipe.calories/d.recipe.yield %>
<% let calStr = cal.toString() %>
<% let calPerSer = calStr.split('.',1).toString() %>
<% let detail = d.recipe %>




<div class = all-results>
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="<%= detail.image%>">
          <span class="card-title"><%=detail.label%></span>
        </div>
        <div class="card-content">
            
            <p><label for="calPerSer">Calories per Serving:  </label>
                    <%=calPerSer%> kcal</br>
                    <label for="diet">diet:</label>
                    <%= detail.dietLabels[0]%>
                    <%= detail.dietLabels[1]%> </br>
                    <label for="calPerSer">Preference:</label>
                    <%= detail.healthLabels[1]%></br>  
                    <label for="fat">Fat :</label>
                    <%= detail.totalNutrients.FAT.quantity.toString().split('.',1)%> g 
                    <label for="carbs">Carbs: </label>
                    <%= detail.totalNutrients.CHOCDF.quantity.toString().split('.',1) %> g</br>
                    <label for="fiber"> Fiber :</label>
                    <%= detail.totalNutrients.FIBTG.quantity.toString().split('.',1) %> g
                    <label for="protein"> Protein: </label>
                    <%= detail.totalNutrients.PROCNT.quantity.toString().split('.',1) %> g
                </p>
                
        </div>
        <div class="card-action">
          <a class=re-link href="<%=detail.url%>">link to recipe</a>
        </div>
      </div>
    </div>
  </div>







<div class= result-form>
    <form class=recipe-button action="/myrecipe" method="POST">
        <input hidden type="text" name="name" id="name" value="<%= detail.label %>">
        <input hidden type="text" name="cal" id="cal" value="<%= calPerSer %>">
        <input hidden type="text" name="recipeUrl" id="recipeUrl" value="<%= detail.url %>">
        <%ingrstring =""%> 
        <%detail.ingredientLines.forEach(ingr =>{ %>
          <% ingrstring=ingrstring+ingr+'; '  %>   
        <%})  %> 
        <input hidden type="text" name="ingr" id="ingr" value="<%= ingrstring %>">
        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons">add</i> my recipe</button>
    </form>


    <form action="/calorielog" method="POST">

    <input hidden type="text" name="name" id="name" value="<%= detail.label %>">
    <input hidden type="text" name="cal" id="cal" value="<%= calPerSer %>">

    <button type="submit" class="waves-effect waves-light btn"> <i class="material-icons">add</i>Calorie Log</button>
   
    </form>
</div>
</div>

<%  }) %>
<%} %>



            