<div class="results">

<% if (data) { %>
<% data.forEach(d => { %>
<% let cal = d.recipe.calories/d.recipe.yield %>
<% let calStr = cal.toString() %>
<% let calPerSer = calStr.split('.',1).toString() %>
<% let detail = d.recipe %>





<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= detail.image%>">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <p><a href="<%=detail.url%>">Link to the recipe</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%=detail.label%><i class="material-icons right">close</i></span>
      <p>Calories per Serving: <%=calPerSer%> kcal
        diet:<%= detail.dietLabels[0]%>
            <%= detail.dietLabels[1]%> </br>
        Preference:
            <%= detail.healthLabels[0]%>
            <%= detail.healthLabels[1]%></br>  
            <%= detail.healthLabels[2]%> 
            <%= detail.healthLabels[3]%> </br>
        </p>
        
    </div>
  </div>

</div>



<div>
    <h4><%=detail.label%></h4>
    <img src="<%= detail.image%>"></br>
    <label for="calPerSer"> Calories per serving: </label>
    <%= calPerSer  %> kcal</br>

    <label for="diet">Diet:</label>
    <%= detail.dietLabels[0]%>
    <%= detail.dietLabels[1]%> </br>

    <label for="health">Preference:</label>
    <%= detail.healthLabels[0]%>
    <%= detail.healthLabels[1]%></br>  
    <%= detail.healthLabels[2]%> 
    <%= detail.healthLabels[3]%> </br>

    <label for="fat">Fat :</label>
    <%= detail.totalNutrients.FAT.quantity.toString().split('.',1)%>g 
    <label for="carbs">Carbs: </label>
    <%= detail.totalNutrients.CHOCDF.quantity.toString().split('.',1) %> g</br>
    <label for="fiber"> Fiber :</label>
    <%= detail.totalNutrients.FIBTG.quantity.toString().split('.',1) %> g
    <label for="protein"> Protein: </label>
    <%= detail.totalNutrients.PROCNT.quantity.toString().split('.',1) %> g</br></br>

    <a href="<%=detail.url%>" class="waves-effect waves-light btn-small"> Link to the recipe</a>
</div>
<div class= form>
    <form action="/myrecipe" method="POST">
        <input hidden type="text" name="name" id="name" value="<%= detail.label %>">
        <input hidden type="text" name="cal" id="cal" value="<%= calPerSer %>">
        <input hidden type="text" name="recipeUrl" id="recipeUrl" value="<%= detail.url %>">
        <%ingrstring =""%> 
        <%detail.ingredientLines.forEach(ingr =>{ %>
          <% ingrstring=ingrstring+ingr+'; '  %>   
        <%})  %> 
        <input hidden type="text" name="ingr" id="ingr" value="<%= ingrstring %>">
        <button type="submit" class="waves-effect waves-light btn">save to my recipe</button>
    </form>


    <form action="/calorielog" method="POST"></form>

    <input hidden type="text" name="name" id="name" value="<%= detail.label %>">
    <input hidden type="text" name="cal" id="cal" value="<%= calPerSer %>">
    <button type="submit" class="waves-effect waves-light btn">Add to Calorie Log</button>
    </form>

</div>

<%  }) %>
<%} %>



            